@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf'), format('truetype'), 
    url('../fonts/montserrat-variablefont_wght-webfont.woff2'), format('woff2');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'calluna';
    src: url('/fonts/Calluna-Regular.otf'), format('opentype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('/fonts/Catamaran-VariableFont_wght.ttf'), format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'cagliostro';
    src: url('/fonts/Cagliostro-Regular.ttf'), format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --indigo:#1B1A54;
    --white:#FFFFFF;
    --periwinkle: #556AD8;
    --montserrat: 'montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --catamaran: 'catamaran', 'calluna', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --cagliostro: 'cagliostro',
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    color: var(--periwinkle);
}

.header {
    color: #FFF;
    font-family: var(--montserrat)
    font-size: xx-large; /* pixel convert*/
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

body{
    margin: 0;
    font-family: var(--montserrat);
    font-weight: 100;
    background-color: var(--indigo);

    color: #FFFFFF;
}



h2{
    font-family: var(--cagliostro);
    font-size: 300;
}

.call-to-action{
    font-family: var(--cagliostro);
}

h4, h3 {
    font-family: var(--montserrat);
    font-weight: 300;
    display: flex;
}

.navigation{
    color: #FFF;
    height: 11vh;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 10%;
    text-align: center;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.case-study-title{
    display: flex;
}

.case-study-images{
    height: auto;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}






@media screen 
    and (min-width:600 px){}
